/tests/.pytest_cache/
/venv/
/.pytest_cache/
/.idea/api_automation.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
